:root {
    --blue1: #0c0c28;
    --blue2: #040d2d;
    --title: #FFFFFF;
    --text: #cbcbcb;

}

#home p {
    color: #c3c3d2;
}
.quote{
    color: #cbcbcb;
    font-size: x-large;
    font-style: italic;
}

nav{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 2% 2%;


}
nav a{
    margin: 1vh 1vw 1vh 1vw;
    text-decoration: none;
}
nav a:link {
    color: #FFFFFF;
    text-decoration: none;
}
nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;

}
nav a:active {
    color: #FFFFFF;
    text-decoration: none;
}

body {
    background: linear-gradient(-45deg, var(--blue1), #0e1226, #180f1f, var(--blue2));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    height: 100vh;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: var(--title);
    text-align: center;
    font-size: 5em;
}
.sec{
    margin: 5vh 5vw 5vh 5vw ;
    color: var(--text);
    text-align: center;
}
#toppicture{
    width: 14vw;
    clip-path: circle(50%);

}

#title{
    background-color: var(--blue2);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e1f28;
    box-shadow: inset 0 0 5px #1e1f28;
}
::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    box-shadow: inset 0 0 5px #1c1c1f;
}
::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
    box-shadow: inset 0 0 5px #000000;
}

/* quick reset and base styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


img {
    width: 15vw;
}
/* relevant styles */
.img__wrap {
    position: relative;
    width: 15vw;
    margin: 5% 2%;
    cursor: pointer;
}

.img__description_layer {
    position: absolute;
    top: 1.8em;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}
.flex {
    display: flex;
    justify-content: center;

}
.srcicon{
    height: 5vh;
    width: auto;
}
#home{
    padding-top: 10vh;
    height: 90vh;

}
#left{
    position: absolute;
    left: 42%;
    top: 23%;
    height: 20vh;
    width: 0.5vw;
    background: #ffffff;
    clip-path: circle(50%);
}
#right{
    position: absolute;
    right: 42%;
    top: 23%;
    height: 20vh;
    width: 0.5vw;
    background: #ffffff;
    clip-path: circle(50%);
}