@font-face {
    font-family: Kanit;
    src: url(/static/font/Kanit/Kanit-Medium.ttf);
}
:root{
    --lightgrey: #838383;
    --grey: #111111;
    --darkgrey: #282828;
    --red: #EC625F;
    --white: #bebebe;
}
html{
    color: var(--white);
    scroll-behavior: smooth;
    font-family: Kanit;

}
body{
    background: var(--darkgrey);
}
nav *{
    margin: 1%;
    font-size: 2em;

}
nav *:hover{
    border-bottom: 2px solid var(--white);
}
section{
    margin: 10%;
}
div{
    margin: 0 0 5% 0;
}
h1{
    font-size: 4em;
}
h2{
   color: var(--lightgrey);
    font-size: 4em;
}
h3{
    color: var(--red);
    font-size: 7em;
}
h4{

    font-size: 3em;

}
img{
    width: 20%;
    float: left;
    margin: 0 2% 2% 0;
}
p{
    font-size: 2em;
}
a {
    text-decoration: none;
}
a:link {
    color: var(--white);
}
a:visited {
    color: var(--white);
}
a:hover {
    color: var(--white);
}
a:active {
    color: var(--white);
}

#title{
    text-align: center;
    height: 30vh;
}
#home{
    font-weight: bold;
    color: var(--red);
}
#home:hover{
    border-bottom: 2px solid var(--red);
}
#topbutton *{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2%;
}
#topbutton *:hover{
    animation: up 1s ;
}


@keyframes up {
    0%   {bottom: 0}
    50% {bottom: 1%}
    100% {bottom: 0%}
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--darkgrey);

}
::-webkit-scrollbar-thumb {
    background: var(--grey);

}
::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}