@font-face {
    font-family: Kanit;
    src: url(/static/font/Kanit/Kanit-Medium.ttf);
}
:root{
    --lightgrey: #3d3d3d;
    --grey: #111111;
    --darkgrey: #282828;
    --red: #EC625F;
    --white: #ffffff;
}
html{
    color: var(--white);
    scroll-behavior: smooth;
    font-family: Kanit;

}
body{
    background: var(--darkgrey);
}
nav *{
    height: 40vh;
    margin: 1%;
    font-size: 2em;

}
nav *:hover{
    border-bottom: 2px solid var(--white);
}
section{
    margin: 10%;
}
div{
    margin: 0 0 5% 0;
}
h1{
    font-size: 4em;
}
h2{
   color: var(--lightgrey);
    font-size: 4em;
}
h3{
    color: var(--red);
    font-size: 7em;
}
h4{

    font-size: 3em;

}
img{
    width: 20%;
    float: left;
    margin: 0 2% 2% 0;
}
p{
    font-size: 2em;
}
a {
    text-decoration: none;
}
a:link {
    color: var(--white);
}
a:visited {
    color: var(--white);
}
a:hover {
    color: var(--white);
}
a:active {
    color: var(--white);
}

#title{
    text-align: center;
    height: 60vh;
}
#home{
    font-weight: bold;
    color: var(--red);
}
#home:hover{
    border-bottom: 2px solid var(--red);
}


#arrowdown *:hover{

}
#topbutton *{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2%;
}
#topbutton *:hover{
    animation: up 1s ;
}
#quote{
    animation: textanimation 8s infinite;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: var(--darkgrey);
    color: var(--white);
}

input[type=submit] {
    background-color: var(--red);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ab4545;
}

.container {
    border-radius: 5px;
    background-color: var(--lightgrey);
    padding: 20px;
}

.source{
    color: var(--red)!important;
    margin: 0 0.2%;
}
.source:hover{
    color: #ab4545!important;
}
.tec{
    color: var(--red);
    font-size: 1em;
    margin: 0 0.2%;
}


@keyframes up {
    0%   {bottom: 0}
    50% {bottom: 1%}
    100% {bottom: 0%}
}
@keyframes textanimation {
    0%{opacity: 100%}
    50%{opacity: 20%}
    100%{opacity: 100%}
}
@keyframes down {
    0%   {bottom: 0}
    50% {bottom: 1%}
    100% {bottom: 0%}
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--darkgrey);

}
::-webkit-scrollbar-thumb {
    background: var(--red);

}
::-webkit-scrollbar-thumb:hover {
    background: var(--red);

}